[Unit]
Description=XRPL Relayer - Ticket Creator (%i)
After=network.target docker.service

[Service]
ExecStart=/usr/local/bin/xrpl_service_wrapper.sh ticket_creator-%i
User=ec2-user
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target